# Introduction

### Team Members:

- Qothrunnadaa Alyaa (**Data Analyst**)

- Athalla Rafly Mahardhika Noegroho (**Data Scientist**)

- Habibi Bagus Suliano (**Data Scientist**)

- Achmad Dhani (**Data Engineer**)

Notebook PIC: **Achmad Dhani**

Objective: Data needs to be processed and cleaned for others to use such as a data analyst or data scientist. ETL (Extract, Transform, Load) helps providing cleaned data efficiently. Automations will be conducted per month, giving data analyst/scientist clean data to work with.

# Import Libraries and Set Connection

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from great_expectations.data_context import FileDataContext

In [48]:
# connecting psql container
engine = create_engine('postgresql+psycopg2://admin:container@localhost:5434/monthly_report')

# Functions

In [88]:
# check for missing values
def check_missing(df):
    '''
    A function to check missing values within a dataframe

    Args:
        df (DataFrame): Input a dataframe that needed to be checked
    '''
    missing = df.isna().sum()
    total_missing_values = missing.sum()
    
    # if function for missing values
    if total_missing_values > 0:
        columns_with_missing_values = missing[missing > 0] # the index represents the names of the columns
        missing_percentage = (columns_with_missing_values / df.shape[0]) * 100
        
        print('Total missing values in the dataset:', total_missing_values) # total
        print('Columns with missing values:', columns_with_missing_values.index.tolist())
        print('')
        print('Number of missing values per column:')
        print(columns_with_missing_values)
        print('')
        print('Missing data percentage (%):')
        print(missing_percentage)
    else:
        print('No missing values found.')
        
def preprocess(file=object):
    '''Function to process raw data

    Args:
        file (string): The name of the file. Defaults to object.

    Returns:
        boolean: returns True if run smoothly
    '''
    dtype_map={
        'price': 'int64', 
        'overall_rating': 'float64',
        'number_sold': 'int64',
        'total_review':'int64',
        'customer_rating':'int64'
    }
    data= pd.read_sql_table(file, engine)
    data.drop_duplicates(inplace=True)
    data.columns= data.columns.map(str.lower)
    data.columns= [col.replace(' ', '_') for col in data.columns]
    data.dropna(inplace=True)
    # add function for tokenization
    data= data.astype(dtype_map)
    data.to_csv(file + '_cleaned.csv', index=False)
    data.to_sql(name= file + '_cleaned', con= engine, index=False)
    return True

# Data Export

In [81]:
df = pd.read_csv("PRDECT-ID Dataset.csv")

In [49]:
# exporting data to sql container
df.to_sql(name='m12y2023', con= engine, index=False)

400

# Data Import

In [55]:
file_name= 'm12y2023'

In [56]:
# reading table from sql database
df= pd.read_sql_table(file_name, engine)

# Data Preprocessing

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5400 entries, 0 to 5399
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Category         5400 non-null   object
 1   Product Name     5400 non-null   object
 2   Location         5400 non-null   object
 3   Price            5400 non-null   int64
 4   Overall Rating   5400 non-null   float64
 5   Number Sold      5400 non-null   int64
 6   Total Review     5400 non-null   int64
 7   Customer Rating  5400 non-null   int64
 8   Customer Review  5400 non-null   object
 9   Sentiment        5400 non-null   object
 10  Emotion          5400 non-null   object
dtypes: float64(1), int64(4), object(6)
memory usage: 464.2+ KB

- Data has 5400 entries, 11 columns, 5 numeric and 6 object data type columns
- The columns name needs to be normalized

In [67]:
check_missing(df)

No missing values found.

In [68]:
df[df.duplicated()]

,Category,Product Name,Location,Price,Overall Rating,Number Sold,Total Review,Customer Rating,Customer Review,Sentiment,Emotion
29,Computers and Laptops,cooling pad laptop tahan 24 jam 6.000 Rpm angi...,Kota Surabaya,385000,5.0,2716,1843,5,"mantap kipasnya kenceng, barangnya berkualitas...",Positive,Happy
72,Computers and Laptops,Usb HUB Vention 4 Port Usb 3.0 2.0 High Speed ...,Jakarta Barat,112000,4.9,14900,7957,1,"tidak berfungsi, tapi yaa sudahlah sudah ditam...",Negative,Sadness
296,Toys and Hobbies,Kereta Thomas Mainan Thomas,Kota Tangerang,59000,4.7,37200,11900,1,saya belom menerima paket ini kenapa sudah sel...,Negative,Anger
723,Office & Stationery,( ISI 30 Roll) Kertas Print Kasir thermal pape...,Kota Tangerang Selatan,58500,4.9,2294,795,5,belanja disini mantap pengiriman cepat dan bar...,Positive,Love
839,Automotive,Hayaidesu Keychain Gantungan Kunci Aksesoris V...,Jakarta Selatan,25000,4.9,7884,4399,5,Produk sesuai deskripsi??. Variasi produk bera...,Positive,Happy
2200,Sport,5-60kg Adjustable Handgrip Hand Grip Alat Fitn...,Jakarta Barat,16200,4.9,6323,768,1,"barang tidak ada, komplain tidak direspon...pe...",Negative,Fear
2201,Sport,5-60kg Adjustable Handgrip Hand Grip Alat Fitn...,Jakarta Barat,16200,4.9,6323,768,1,"barang tidak ada, komplain tidak direspon...pe...",Negative,Fear

In [69]:
# dropping all duplicates
df.drop_duplicates(inplace=True)

In [70]:
# lowercasing all the column names
df.columns= df.columns.map(str.lower)

In [71]:
# replacing spaces with underscore
df.columns= [col.replace(' ', '_') for col in df.columns]

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5393 entries, 0 to 5399
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   category         5393 non-null   object
 1   product_name     5393 non-null   object
 2   location         5393 non-null   object
 3   price            5393 non-null   int64
 4   overall_rating   5393 non-null   float64
 5   number_sold      5393 non-null   int64
 6   total_review     5393 non-null   int64
 7   customer_rating  5393 non-null   int64
 8   customer_review  5393 non-null   object
 9   sentiment        5393 non-null   object
 10  emotion          5393 non-null   object
dtypes: float64(1), int64(4), object(6)
memory usage: 505.6+ KB

In [73]:
df.describe()

,price,overall_rating,number_sold,total_review,customer_rating
count,5.393000e+03,5393.000000,5393.000000,5393.000000,5393.000000
mean,2.388814e+05,4.854348,15968.273688,2166.188763,3.087521
std,8.021253e+05,0.108281,74248.731905,2913.132692,1.765914
min,1.000000e+02,4.100000,9.000000,4.000000,1.000000
25%,2.000000e+04,4.800000,1613.000000,576.000000,1.000000
50%,5.990000e+04,4.900000,3789.000000,1191.000000,3.000000
75%,1.500000e+05,4.900000,9707.000000,2582.000000,5.000000
max,1.539900e+07,5.000000,1000000.000000,24500.000000,5.000000

In [74]:
df.describe(include='object')

,category,product_name,location,customer_review,sentiment,emotion
count,5393,5393,5393,5393,5393,5393
unique,29,1308,61,5305,2,5
top,Household,Minigold Black Series Logam Mulia Koin Emas Mi...,Jakarta Barat,kecewa,Negative,Happy
freq,200,25,1290,4,2817,1768

In [77]:
df['sentiment'].unique()

array(['Positive', 'Negative'], dtype=object)

In [78]:
df['emotion'].unique()

array(['Happy', 'Sadness', 'Anger', 'Love', 'Fear'], dtype=object)

In [39]:
df.to_csv(file_name + '_cleaned.csv')

Data processing functions to add:

- Columms:
    - Lower case the names
    - replace spaces with '_'
- Values:
    - dropping duplicates
    - adding new column for tokenized customer_review
    - Will be futureproofing adding drop missing values
- Save the clean file

# Data Validation

## Testing The Function

In [60]:
# calling the function
preprocess(file_name)

True

In [61]:
test=pd.read_csv('m12y2023_cleaned.csv')

In [62]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5393 entries, 0 to 5392
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   category         5393 non-null   object
 1   product_name     5393 non-null   object
 2   location         5393 non-null   object
 3   price            5393 non-null   int64
 4   overall_rating   5393 non-null   float64
 5   number_sold      5393 non-null   int64
 6   total_review     5393 non-null   int64
 7   customer_rating  5393 non-null   int64
 8   customer_review  5393 non-null   object
 9   sentiment        5393 non-null   object
 10  emotion          5393 non-null   object
dtypes: float64(1), int64(4), object(6)
memory usage: 463.6+ KB

## Great Expectations

In [63]:
context = FileDataContext.create(project_root_dir='/Users/achmaddhani/projects/final-project-h8/FTDS-009-HCK-group-001')

In [64]:
# initializing datasource
datasource_name = 'etl_cleaned_source'
datasource = context.sources.add_pandas(datasource_name)

asset_name = 'cleaned_data'
path_to_data = '/Users/achmaddhani/projects/final-project-h8/FTDS-009-HCK-group-001/m12y2023_cleaned.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

In [65]:
# Creat an expectation suite
expectation_suite_name = 'expectation-etl_cleaned-data'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,category,product_name,location,price,overall_rating,number_sold,total_review,customer_rating,customer_review,sentiment,emotion
0,Computers and Laptops,Wireless Keyboard i8 Mini TouchPad Mouse 2.4G ...,Jakarta Utara,53500,4.9,5449,2369,5,Alhamdulillah berfungsi dengan baik. Packaging...,Positive,Happy
1,Computers and Laptops,PAKET LISENSI WINDOWS 10 PRO DAN OFFICE 2019 O...,Kota Tangerang Selatan,72000,4.9,2359,1044,5,"barang bagus dan respon cepat, harga bersaing ...",Positive,Happy
2,Computers and Laptops,SSD Midasforce 128 Gb - Tanpa Caddy,Jakarta Barat,213000,5.0,12300,3573,5,"barang bagus, berfungsi dengan baik, seler ram...",Positive,Happy
3,Computers and Laptops,ADAPTOR CHARGER MONITOR LCD LED TV LG merek LG...,Jakarta Timur,55000,4.7,2030,672,5,bagus sesuai harapan penjual nya juga ramah. t...,Positive,Happy
4,Computers and Laptops,ADAPTOR CHARGER MONITOR LCD LED TV LG merek LG...,Jakarta Timur,55000,4.7,2030,672,5,"Barang Bagus, pengemasan Aman, dapat Berfungsi...",Positive,Happy

In [99]:
# expections column names are normalized
normalized= {'category', 'product_name', 'location', 'price', 'overall_rating',
       'number_sold', 'total_review', 'customer_rating', 'customer_review',
       'sentiment', 'emotion'}

print('normalized column names expectation')
result=validator.expect_table_columns_to_match_set(column_set=normalized)
print(f"Expectation is {result['success']}", '\n')

normalized column names expectation

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

Expectation is True

In [103]:
# expectation values of numeric columns has to be either interger or float
numeric_list=['price', 'overall_rating', 'number_sold', 'total_review','customer_rating']
for num in numeric_list:
    print(num, 'numeric type validation')
    result=validator.expect_column_values_to_be_in_type_list(num, ['int64', 'float'])
    print(f"Expectation is {result['success']}", '\n')

price numeric type validation

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

Expectation is True

overall_rating numeric type validation

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

Expectation is True

number_sold numeric type validation

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

Expectation is True

total_review numeric type validation

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

Expectation is True

customer_rating numeric type validation

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

Expectation is True

In [90]:
# expectations values min and max within overall rating and customer rating
for col in ['overall_rating', 'customer_rating']:
    print(col, 'expectation')
    result=validator.expect_column_values_to_be_between(
        column=col, min_value=1, max_value=5
        )
    print(f"Expectation is {result['success']}", '\n')

overall_rating expectation

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Expectation is True

customer_rating expectation

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Expectation is True

In [106]:
# expectations sentiment only has 2 unique values
print('sentiment expectation of 2 unique values')
result=validator.expect_column_unique_value_count_to_be_between(column='sentiment', min_value=2, max_value=2)
print(f"Expectation is {result['success']}", '\n')

sentiment expectation of 2 unique values

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

Expectation is True

In [109]:
# expectation values of sentiment contains one of the following category
print('sentiment values expectation within 2 unique categories')
result=validator.expect_column_values_to_be_in_set('sentiment',['Positive', 'Negative'])
print(f"Expectation is {result['success']}", '\n')

sentiment values expectation within 2 unique categories

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Expectation is True

In [108]:
# expectations emotion only has 5 unique values
print('emotion expectation of 5 unique values')
result=validator.expect_column_unique_value_count_to_be_between(column='emotion', min_value=5, max_value=5)
print(f"Expectation is {result['success']}", '\n')

emotion expectation of 5 unique values

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

Expectation is True

In [111]:
# expectation values of sentiment contains one of the following category
print('emotion values expectation within 5 unique categories')
result=validator.expect_column_values_to_be_in_set('emotion',['Happy', 'Sadness', 'Anger', 'Love', 'Fear'])
print(f"Expectation is {result['success']}", '\n')

emotion values expectation within 5 unique categories

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Expectation is True

# Cleaned Data Export

In [ ]:
df.to_csv('m12y2023_cleaned.csv', index=False)
df.to_sql('m12y2023_cleaned', con= engine, index=False)

# DAG Functions

```python

# connection
engine = create_engine('postgresql+psycopg2://admin:container@postgres:5432/monthly_report') # going to be a seperate python file

# extracting data python file 
def data_load():
    file = Variable.get("file_name") # global variable
    data = pd.read_sql_table(file, engine)
    data.to_csv('/opt/airflow/data/' + file + '.csv', index=False) # saving raw data

# preprocessing function python file
def data_preprocess():
    dtype_map={
        'price': 'int64', 
        'overall_rating': 'float64',
        'number_sold': 'int64',
        'total_review':'int64',
        'customer_rating':'int64'
    }
    file = Variable.get("file_name") # global variable
    data= pd.read_csv('/opt/airflow/data/' + file + '.csv')
    data.drop_duplicates(inplace=True)
    data.columns= data.columns.map(str.lower)
    data.columns= [col.replace(' ', '_') for col in data.columns]
    data.dropna(inplace=True)
    # add function for tokenization
    data= data.astype(dtype_map)
    data.to_csv('/opt/airflow/data/' + file + '_cleaned.csv', index=False)

# exporting function python file
def data_export():
    file = Variable.get("file_name") # global variable
    data= pd.read_csv('/opt/airflow/data/' + file + '_cleaned.csv', index=False)
    data.to_sql(name= file + '_cleaned', con= engine, index=False)
```

# Conclusion